.container{
    width: 100%;
    background-color: rgb(23, 176, 174);
    background-image: url('../images/background_elips.png');
    background-position: center center;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
