.slider-wrapper{
    width: 600px;
    .tns-ovh{
        overflow: visible;
    }
}
.tns-slide-active .slider__item{
    opacity: 1;
    pointer-events: inherit;
}
.slider {
    &__slide {
        height: 250px;
        padding: 20px 0;
        outline: none;
    }
    &__item {
        position: relative;
        width: 150px;
        height: 150px;
        opacity: 0;
        pointer-events: none;
        top: 50%;
        transform: translate(0, -50%);

        &:hover {
            .slider__circle {
                border-color: #fff;
            }
            .slider__image{
                animation-play-state: running;
            }
        }
    }

    &__image-wrapper {
        position: absolute;
        top: calc(50% - 3.5px);
        left: 50%;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 50%;
        box-sizing: border-box;
        transform: translate(-50%, -50%);
    }

    &__circle {
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border-radius: 50%;
        border: 4px solid rgba(255, 255, 255, 0.50);
        transition: 0.2s;
    }

    &__image {
        height: 100%;
        display: block;
        margin: 0 auto;
        transform: translateY(18px);
        animation-name: boy-jump;
        animation-iteration-count: infinite;
        animation-duration: 0.7s;
        animation-timing-function: cubic-bezier(0, 0, 0.65, 1.41);
        animation-play-state: paused; 
    }
    &__arrow{
        display: inline-block;
        position: absolute;
        outline: none;
        z-index: 1;
        cursor: pointer;
        .arrow-border {
            transition: 0.2s;
            fill: #f5f8f7;
            stroke: #f5f8f7;
            stroke-linejoin: round;
            stroke-width: 2px;
            fill-opacity: 0;
            fill-rule: evenodd;
          }
        &:hover {
            .arrow-border{
                fill-opacity: 1;
            }
            .slider__arrow-text{
                color: #1ab1ae;
            }
            .slider__arrow-img .arrow-img{
                fill: #1ab1ae;
            }
        }
    }
    &__left-arrow{
        left: 50px;
    }
    &__right-arrow{
        right: 50px;
        .slider__arrow-img{
            transform: rotate(180deg);
        }
    }
    &__arrow-text{
        position: absolute;
        top: 50%;
        left: 50%;
        color: #f5f8f7;
        font-family: $neuron;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 0.4px;
        transform: translate(-50%, -50%);
    }
    &__arrow-img{
        position: relative;
        top: 1px;
        .arrow-img {
            fill: #f5f8f7;
            fill-rule: evenodd;
          }
    }
    &__slide_animate-right-prev{
        .slider__item{
            animation-name: slide-fade-in-prev;
            animation-duration: 0.5s;
            opacity: 0;
            animation-iteration-count: 1;
            animation-timing-function: linear;
        }
    }
    &__slide_animate-left-prev{
        .slider__item{
            animation-name: slide-show-prev;
            animation-duration: 0.5s;
            animation-delay: 0.4s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
        }
    }
    &__slide_animate-left-next{
        .slider__item{
            animation-name: slide-fade-in-next;
            animation-duration: 0.5s;
            animation-iteration-count: 1;
            opacity: 0;
            animation-timing-function: linear;
        }
    }
    &__slide_animate-right-next{
        .slider__item{
            animation-name: slide-show-next;
            animation-duration: 0.5s;
            animation-delay: 0.4s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
        }
    }
}

@keyframes boy-jump {
    from {
        transform: translateY(18px);
    }
    50% {
        transform: translateY(10px);
    }
}

@keyframes slide-fade-in-prev {
    from {
        opacity: 1;
        width: 150px;
        height: 150px;
        transform: translate(0, -50%);
    }
    100%{
        opacity: 0;
        width: 190px;
        height: 190px;
        transform: translate(100px, -50%);
    }
}

@keyframes slide-show-prev {
    from {
        opacity: 0;
        width: 190px;
        height: 190px;
        transform: translate(-100px, -50%);
    }
    100%{
        opacity: 1;
        width: 150px;
        height: 150px;
        transform: translate(0, -50%);
    }
}

@keyframes slide-fade-in-next {
    from {
        opacity: 1;
        width: 150px;
        height: 150px;
        transform: translate(0, -50%);
    }
    100%{
        opacity: 0;
        width: 190px;
        height: 190px;
        transform: translate(-100px, -50%);
    }
}

@keyframes slide-show-next {
    from {
        opacity: 0;
        width: 190px;
        height: 190px;
        transform: translate(100px, -50%);
    }
    100%{
        opacity: 1;
        width: 150px;
        height: 150px;
        transform: translate(0, -50%);
    }
}
